# Ignore the entire venv directory
venv/

# Ignore all .idea configuration files
.idea/

# Ignore all python compiled files
*.pyc
__pycache__/

# Ignore all distribution and build directories
dist/
build/
*.egg-info/
