pyaudio~=0.2.14
wave~=0.0.2
pydub
openai-whisper
pip~=25.0
simplejson~=3.19.3
setuptools~=58.0.4
packaging~=24.0
pyparsing~=3.1.2
zipp~=3.18.2
SpeechRecognition~=3.14.1
pytts3
attrs~=24.2.0
distro~=1.8.0
wheel~=0.37.0
pillow~=10.3.0
jinja2~=3.1.4
click~=8.1.7
gTTS~=2.5.4
requests~=2.32.3
Django~=4.2.19
asgiref~=3.8.1
sqlparse~=0.5.3
PyYAML~=6.0.2
numpy~=1.26.4
certifi~=2023.11.17
urllib3~=1.26.20
idna~=3.6
future~=0.18.2
django-crispy-forms~=2.3
torch~=2.5.1
pyttsx3~=2.98
transformers~=4.49.0
Kivy~=2.3.1
langchain-google-genai~=2.0.10
langchain-core~=0.3.37
dotenv~=0.9.9
python-dotenv~=1.0.1
flet~=0.27.1